*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #ff6900;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 10px 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

header nav{
    max-width: 1200px;
    margin: 0 auto;
}

header nav ul li a span{
    color: #ffffff;
    font-size: 0.8em;
    margin-right: 10px;
}

header nav ul li img{
    width: 100px;
}

.container header nav ul li a i{
    margin-right: 10px;
    color: #ffffff;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.margine{
    max-width: 900px;
    margin: 0 auto;
}

.container{
    background-color: #ffffff;
}

.container main section{
    padding-top: 50px;
}

.immagine{
    width: 300px;
}

img{
    width: 100%;
}

.card{
    position: relative;
}


.heart{
    background-color: #ffffff;
    font-size: 1.5em;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 5px;
    right: 0;
}

.heart:hover{
    color: red;
}

.sconto{
    background-color: red;
    color: #ffffff;
    font-size: 0.7em;
    display: inline-block;
    width: 30px;
    height: 20px;
    text-align: center;
    line-height: 20px; 
    position: absolute;
    bottom: 80px;
    left: 0;
}

.popupverde{
    background-color: #008000;
    color: #ffffff;
    font-size: 0.7em;
    display: inline-block;
    width: 70px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    bottom: 80px;
    left: 35px;
}

.left{
    left: 0;
}

.red{
    color: red;
    font-weight: 800;
}

.line-through{
    text-decoration: line-through;
    font-weight: 800;
    margin-left: 5px;
}

.testo h4{
    text-transform: uppercase;
}



footer{
    background-color: #1a1a1a;
    width: 100%;
    padding: 20px 0;
}

footer div:first-child{
    color: #ffffff;
}

footer div h3{
    float: left;
}

footer div h5{
    float: right;
}

footer div::after{
    display: table;
    clear: both;
    content: "";
}

footer div:nth-of-type(2){
    color: #ffffff;
}

footer div:nth-of-type(2) span{
    margin-right: 30px;
}

.flex-icon{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

#footer-left{
    float: left;
    margin-right: 250px;
}

#footer-right{
    float: right;
}

#float-footer{
    display: table;
    clear: both;
    content: "";
}

.hidden{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; 
}

.hidden:hover{
    opacity: 1;
}

